.addplaylist_form {
}

body .button_addPlaylist {
  margin-top: 30px;
}

body .MuiFilledInput-root {
  background-color: #ffffff;
}

body .MuiFilledInput-root:hover {
  background-color: #ffffff;
}

body .MuiCircularProgress-root {
  width: 20px;
}

.Updatefile {
  margin-left: 15px;
}
